body{
    background-color: antiquewhite;
}
.form{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input{
    display: block;
}

.button{
    color: white;
    background-color: blue;

}
.image-index{
    width: 100%;
}
.heading{
    text-align: center;
    color: brown;
}
.post{
    background-color: white;
    color: black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.post-title{
    color: blueviolet;
}